/*@import url(font-awesome.min.css);*/
@import url("https://www.google.com/fonts#ChoosePlace:select/Collection:Josefin+Slab");

.loginBtn{

	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#btn{
	width: 100%;
}

.infoText{
	font-size: 25px;
	margin-bottom: 10%;
	margin-left: 10%;
}

/*.infoText{
	font-size: 30px;
	margin-left: -150px;
}*/

#send{
	
}
#aboutUs{
	
}
.hidden{
	display: none;
}

.user{
	color: #fff;
}
#smaller{

	width: 90%;
	height: 90%;
}


/*.sensorType{
	height: 7%;
	/*position: fixed;*/
	/*margin-bottom: 59%;
	margin-left: 33%;
	z-index: -1;
}*/

.sensorType{   /*green*/
	height: 3%;
	/*position: fixed;*/
	margin-bottom: -12%;
	margin-left: 23%;
	z-index: -1;
}

.sensorType2{
	height: 3%;
	/*position: fixed;*/
	margin-bottom: 32%;	
	margin-left: 53%;
	z-index: -1;

}

.sensorType3{
	height: 3%;
	/*position: fixed;*/
	margin-bottom: 2%;	
	margin-left: 74%;
	z-index: -1;

}

/*.sensorType2{
	height: 2%;
	width: 3%;
	/*position: fixed;*/
	/*margin-bottom: 32%;	
	margin-left: 23%;
	z-index: -1;*/

/*}

.sensorType3{
	height: 3%;
	position: fixed;
	margin-bottom: 2%;	
	margin-right: 33%;
	z-index: -1;

/*}*/

#sensorSize1{
	width: 13%;
	height: 20%;
	margin-bottom: 15%;
	margin-left: 45%;
}


